body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: rgb(251,108,108) !important;
}


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(232, 227, 227);
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(9px);
}

#pokeCard {
    z-index: 6;
    height: 80vh;
    width: 45%;

}

#pokedex {
    min-height: 42vh;
    background-color: #9c9191;
    color: white;
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: column;
}

.info-container {
    background-color: white;
    border-radius: 40px;
    height: 48vh;
    margin-top: -120px;
}

#pokeInfo {
    height: 41vh;
    overflow-y: scroll;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pokeInfo::-webkit-scrollbar {
    width: 8px;
}



#pokeInfo::-webkit-scrollbar-thumb {
    background-color: #FB6C6C;
    border-radius: 24px;
}

#pokeInfo::-webkit-scrollbar-thumb:hover {
    background-color: #fc9696;
}

#pokeInfo::-webkit-scrollbar-track-piece:end {
    margin-bottom: 40px;
}


#pokeName {
    margin-bottom: 0;
}

#pokeIndex {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

#pokeimg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.poke-img {
    height: 200px;
    width: 200px;
    margin-top: -160px;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    background-color: #9c9191;
    height: 64px;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.card-icons-img {
    width: 32px;
    height: 32px;
    margin-left: 32px;
    margin-right: 32px;
    cursor: pointer;
}

.type {
    padding: 10px;
    margin-top: 4px;
    margin-top: 4px;
    width: fit-content;
    border-radius: 24px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #9c9191 !important;
}

.navbar a {
    color: white !important;
    background-color: #9c9191;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
    color: black !important;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.evolution-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.evolution-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;

}

.evolution-img {
    height: 120px;
    width: 120px;
}

.evolution-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.evolution-details-span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.poke-move-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poke-move {
    display: flex;
    padding: 8px;
    background-color: grey;
    border-radius: 24px;
    text-align: center;
    margin: 4px;
    justify-content: center;
    height: 24px;
}

.chart {
    height: 70%;
    width: 100%;
    position: relative;
}

.d-none {
    display: none;
}

.loadbutton {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: -60px;
    width: 128px;
    height: 64px;
    border-radius: 16px;
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    transition: all ease-in-out 0.4s;
}

.loadbutton:hover {
    background-color: darkgray;
    color: black;
    border: 1px solid black;
    transform: scale(1.20);
}

.loadbutton:focus {
    background-color: rgb(150, 152, 252);
}

.bottom {
    width: 100%;
    height: 120px;
}

.btn-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
